@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Oswald";
	height: 100%;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main{
	flex: 1 1 auto;
}
.container {
	width: 100%;
	max-width: 1175px;
	margin: 0 auto;
	color: white;
	text-align: center;
}
nav{
	position: absolute;
	right: 15%;
	top: 5%;
	z-index: 5;
}
.menu {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.menu li {
	text-transform: uppercase;
	position: relative;
   margin: 0 0 0 60px;
}
.menu li a::after {
	content: " ";
	width: 25%;
	height: 2px;
	background: #4caf50;
	position: absolute;
	top: 100%;
	right: 0;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.menu li a:hover::after {
	width: 100%;
}
.menu a{
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #fff;
	position: relative;
	padding: 0;
}
.submenu{
	list-style-type: none;
	margin: 5px 0 0;
	position: absolute;
	background-color: hsl(0, 0%, 100%, 0.3);
	display: none;
}
.submenu li{
	margin: 0;
	padding: 5px;
}
.submenu .submenu{
	position: absolute;
	left: 100%;
	top: -10%;	
}
li:hover > .submenu{
	display: block;
}
.slider_bunner{
	position: relative;
}
.slick-dots{
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%);
	list-style-type: none;
	display: flex;
}
.slick-dots li button{
	margin: 0  20px 0 0;
	border: 0;
	background-color: transparent;
	color: rgb(255, 255, 255);
	font-weight: 700;
	position: relative;
	cursor: pointer;
	display: none;
}
.slick-active button{
	font-size: 36px;
}
.bunner {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}
h1 {
	font-weight: 500;
	font-size: 36px;
	padding: 0;
	margin: 200px 0 0;
	letter-spacing: 0.02em;
}
.bunner_text {
	font-family: "Open Sans";
	margin: 25px 0 0;
	font-size: 18px;
	letter-spacing: 0.1em;
}
.about{
	padding: 50px 0;
}
.about-item{
	display: flex;
	justify-content: space-between;
	text-align: start;
}
.about-item-text{
	margin: 75px 0 0 20px;
}
h2{
	font-size: 32px;
	font-weight: 700;
	color: #333333;
	letter-spacing: 0.1em;
}
.about-subtitle{
	font-family: "Open Sans";
	font-size: 36px;
	color: #504E4E;
	letter-spacing: 0.2em;
	margin: 25px 0 0;
}
.about-item-text .text{
	margin: 30px 0 0;
	padding: 0 0 0 50px;
	position: relative;
	width: 300px;
}
.about-item-text .text::before{
	content: " ";
	width: 20px;
   height: 2px;
	background-color: #353535;
	position: absolute;
	left: 5%;
	top: 20%;
}
.face{
	margin: 0 0 0 -200px;
	position: relative;
	z-index: -1;
}
.face::after{
	content: " ";
	width: 309px;
   height: 418px;
	background: #4CAF50;
	opacity: 0.8;
	position: absolute;
	top: 10%;
	left: 65%;
	z-index: -2;
	display: none;
}
.right-item{
	margin: 0;
}
.right-item .about-item-text{
	margin: 0 0 0 -300px;
} 
.man{
	margin: 0 -70px 0 0 ;
	z-index: -3;
}
.right-item .about-item-text .right-text{
	margin: 160px 20px 0 0;
	text-align: start;
}
.block_service {
	background-color: #fbfbfb;
	padding: 50px 15px;
}
.text{
	font-family: "Open Sans";
	font-size: 13px;
	color: #5B5858;
	letter-spacing: 0.1em;
	line-height: 1.5em;
}
h4 {
	font-size: 36px;
	font-weight: 700;
	color: #252525;
	text-align: left;
	position: relative;
}
h4::after{
	content: "";
	width: 45px;
	height: 2px;
	background-color: #252525;
	position: absolute;
	left: 0;
	bottom: -30%;
}
.service_row {
	margin: 50px 0 0;
}
.service_item {
	background-color: #fff;
	text-align: left;
	padding: 40px;
	margin: 20px 0 0;
	border-bottom: 3px solid #70bf73;
}
.title_item {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.subtitle {
	font-size: 20px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.1em;
	position: relative;
}
.subtitle::after {
	content: "";
	width: 35px;
	height: 2px;
	background: #252525;
	position: absolute;
	left: 0;
	bottom: 10%;
}
.service_icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px #dbdbdb;
	position: relative;
}
.icon {
	position: absolute;
	top: 25%;
	left: 25%;
}
.text_item {
	font-family: "Open Sans";
	font-size: 12px;
	color: #777777;
	letter-spacing: 0.1em;
	line-height: 2.5em;
	margin: 20px 0 0;
}
.more{
	margin: 19px 0 0;
}
.more a{
	text-decoration: none;
	font-size: 10px;
	color: #252525;
	line-height: 1.5em;
	font-weight: 300;
	letter-spacing: 0.1em;
}
.block_works {
	padding: 200px 15px 150px;
	position: relative;
}
.works{
	text-align: end;
}
.works_title {
	position: absolute;
	top: 0%;
}
.works_title_row {
	list-style-type: none;
	margin: 30px 0 0;
	display: flex;
	flex-wrap: wrap;
}
.works_title_row  li {
	margin: 0 20px 0 0;
}
.works_title_row  li a{
	font-size: 11px;
	color: #252525;
	letter-spacing: 0.1em;
	text-decoration: none;
}
.works_row{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 50px 0 0;
}
.works_item{
	position: relative;
}
.works_item:hover > h5{
	text-decoration: line-through #70BF73;
}
.works_item_right{
	margin: -150px 0 0;
}
.works_item_left{
	margin: 150px 0 0;
}
h5{
	max-width: 400px;
	font-family: 'Oswald';
	position: absolute;
	font-weight: 300;
	font-size: 48px;
	color: #252525;
	position: absolute;
}
.works_item_right h5{
	text-align: start;
	left: -25%;
	top: 35%;
}
.works_item_left h5{
	right: -25%;
	top: 60%;
}
.works_item_subtitle{
	font-family: "Open Sans";
	color: #252525;
	font-size: 18px;
	letter-spacing: 0.1em;
	margin: 20px 0 0;
}
.works_item_text{
	margin: 15px 0 0;
	width: 250px;
}
.works_item_text p{
	margin: 15px 0 0;
	font-size: 13px;
	color: #C2C2C2;
	line-height: 1.5em;
	font-family: "Open Sans";
}
.right-text{
	text-align: end;
	margin: 0 100px 0 0;
}
.left-text{
	text-align: start;
	margin: 0 0 0 100px;
}
.more_works a{
	text-decoration: none;
	font-size: 13px;
	color: #252525;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 0.1em;
}
.more_works a:hover{
	text-decoration: underline;
}
.block_team {
	padding: 50px 0 100px;
	background-color: #fbfbfb;
}
.team_row {
	margin: 75px 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.team_item{
	position: relative;
	width: 370px;
	height: 400px;
}
.team_photo{
	object-fit: cover;
}
.team_about_memeber{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	padding: 20px 0 30px;
	background-color: rgb(255, 255, 255, 0.5);
	height: 13%;
	overflow: hidden;
	transition: all 0.3s linear;
}
.team_item:hover > .team_about_memeber{
	overflow: none;
	background-color: rgb(255, 255, 255, 0.92);
	height: 35%;
}
.team_about_memeber  p{
	font-weight: 300;
}
.name, .member_position{
	font-size: 18px;
	color: #252525;
}
.name{
	text-transform: uppercase;
}
.member_position{
	position: relative;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	margin: 25px 0 0;
}
.member_position::after{
	content: "";
	width: 45px;
	height: 2px;
	background-color: #252525;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translate(-50%);
}
.team_about_memeber_text{
	font-family: "Open Sans";
	font-size: 12px;
	color: #777777;
	letter-spacing: 0.1em;
	margin: 20px 0 0;
}
.block_blog {
	padding: 50px 0 100px;
}
.blog {
	width: 55%;
	text-align: center;
	position: relative;
}
.slick-prev, .slick-next {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 20px;
	border: none;
	background-color: transparent;
	color: transparent;
	background: url("../img/block_blog/next.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.slick-prev{
	left: 0;
	transform: rotate(180deg);
}
.slick-next{
	right: 0;
}
.blog::after {
	content: "";
	width: 40%;
	height: 1px;
	background-color: #d8d8d8;
	display: inline-block;
	margin: 30px 0 0;
}
.blog_text::after {
	content: url("../img/block_blog/quote-hand-drawn-symbol.png");
	display: block;
	margin: 30px 0 0;
}
.autor {
	margin: 30px 0 0;
	font-size: 18px;
	color: black;
	letter-spacing: 0.05em;
}
.autor:after {
	content: "/ Web Design";
	font-size: 12px;
	color: #373737;
	font-weight: 300;
	letter-spacing: 0.1em;
	opacity: 0.5;
}
.stars {
	margin: 25px 0 0;
	color: rgb(55, 55, 55, 0.8);
	font-size: 25px;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.stars li {
	margin: 0 10px 0 0;
}
.stars li:last-child{
	margin: 0;
}
.block_call{
	background: linear-gradient(to right, #FBFBFB 50%,  #70BD59 50%);
	padding: 70px 0 100px;
}
.call_row {
	display: flex;
	justify-content: space-between;
}
.item_call {
	margin: 0;
	padding: 0;
}
.call_title {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin: 25px 0 0;
}
.call_text {
	font-family: "Open Sans";
	font-size: 12px;
	letter-spacing: 0.1em;
	margin: 25px 0 0;
}
.gray_block{
	color: #373737;
}
.block_contacts {
	background-color: #2E2E2E;
	padding: 140px 0 80px;
}
.contact_text a{
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	line-height: 2em;
}
.contact_text a:first-child{
	display: block;
}
.contact_text a:hover{
	text-decoration: underline;
}
.social-list{
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 40px 0 0;
	padding: 0;
}
.social-list li{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0 20px 0 0;
}
.social-list li:last-child{
	margin: 0;
}
.social-list li a:last-child{
	opacity: 0.4;
}
.social-list li:hover{
	box-shadow: 3px 2px 5px #fff;
}
.footer_bottom{
	position: relative;
	padding: 20px 0;
}
.footer_bottom::before{
	content: " ";
	background-color: #252525;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100vw;
	left: 50%;
	transform: translate(-50%);
	z-index: -5;
}
.footer_bottom p{
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 13px;
	color: rgb(255, 255, 255, 0.5);
	letter-spacing: 0.1em;
}
 @media (min-width:768px) { 
	h1{
		font-size: 72px;
	}
	.bunner_text{
		font-size: 20px;
	}
	.slick-dots li button{
		display: block;
	}
	.block_service{
		padding: 75px 15px;
	}
	h4{
		font-size: 42px;
	}
	.service_row {
		display: flex;
		justify-content: space-between;
		margin: 85px 0 0;
	}
	.service_item{
		margin: 0 25px 0 0;
	}
	.service_item:last-child{
		margin: 0;
	}
	.works_title {
		top: 5%;
	}
	.works_title_row{
		margin: 50px 0 0;
	}
	.works_title_row  li {
		margin: 0 40px 0 0;
	}
	.works_title_row  li a{
		font-size: 13px;
		color: #c2c2c2;
	}
	.works_title_row  li a:hover{
		color: #252525;
	}
}
@media (min-width:962px){
	h1{
		margin: 260px 0 0;
	}
	.block_about {
		padding: 100px 0;
	}
	.about-content{
		display: flex;
	}
	.about-item-text{
		margin: 75px 0 0;
	}
	h2{
		font-size: 36px;
	}
	.about-subtitle{
		font-size: 42px;
	}
	.face{
		margin: 0 0 0 -70px;
	}
	.face::after{
		display: block;
	}
	.text{
		font-size: 15px;
	}
	.right-item{
		margin: 150px 0 0 100px;
	}
	.right-item .about-item-text{
		margin: 0 0 0 -160px;
	}
	.about-item-text .right-text{
		margin: 160px 0 0;
	}
	.block_service{
		padding: 100px 0;
	}
	h4{
		font-size: 48px;
	}
	.service_item {
		border-bottom: 3px solid #fff;
	}
	.service_icon{
		opacity: 0.5;
	}
	.more a{
		opacity: 0.5;
	}
	.service_item:hover {
		border-bottom: 3px solid #70bf73;
	}
	.service_item:hover .service_icon{
		opacity: 1;
	}
	.service_item:hover .more a{
		opacity: 1;
	}
} 